:root {
  /* color */
    --blue: #1e90ff;
    --white: #ffffff;
    --webname-color: var(--white);
    --border-color: rgba(200,200,200,0.5);
    --shadow-color: rgba(100,100,100,0.5);
    --web-color: white;
    --text-color: rgb(31, 31, 31);

    /*size */
    --border-size: 0.5px;
    --icon-size: 50px;
  }

  .for_a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
  }
  .bold{
    font-weight: 500;
  }
  .cycle_border {
    border-radius: 50% !important;
  }
  




  /* scrollbar */
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(42, 205, 255, 0.651); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.219); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.473); 
}