<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMEOW Login</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="/assets/logo/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/login.css">
    <!-- <link rel="stylesheet" href="/assets/css/home.css"> -->
</head>

<body>
  <div class="container-fluid">
    {{!-- Fail --}}
    <div class="mb-3 d-flex flex-column align-items-center">
      <a href="/" class="m-0">
      <img src="/assets/logo/memeow-black.png" alt="website logo" class="weblogo">
      </a>
      {{#if signIn}}
        <h4 class="text-danger">{{signIn}}</h4>
      {{else if signUp}}
        <h4 class="text-danger">{{signUp}}</h4>
      {{else}}
        <h4>More meme, more fun!</h4>
      {{/if}}

      
    </div>
    {{!-- Form --}}
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/login/signup" method="post">
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Fullname" name="SUFullname" required />
          <input type="email" placeholder="Email" name="SUEmail" required />
          <input type="password" placeholder="Password" name="SUPassword" required />
          <button>Sign Up</button>
        </form>
      </div>

      <div class="form-container sign-in-container">
        <form action="/login/signin" method="post">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="email" placeholder="Email" name="username" required />
          <input type="password" placeholder="Password" name="password" required />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>

          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/js/login.js"></script>
</html>